{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Imagen</h1>

    </div>

    <div class="col-4">
        <img src="assets\img\flia-img.jpg" class="img-thumbnail">
    </div>


</div>


{{> footer }}